In [2]:
import pandas as pd

In [4]:
evan=pd.read_csv("Procurement KPI Analysis Dataset.csv")

In [25]:
evan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PO_ID             777 non-null    object
 1   Supplier          777 non-null    object
 2   Order_Date        777 non-null    object
 3   Delivery_Date     690 non-null    object
 4   Item_Category     777 non-null    object
 5   Order_Status      777 non-null    object
 6   Quantity          777 non-null    int64
 7   Unit_Price        777 non-null    float64
 8   Negotiated_Price  777 non-null    float64
 9   Defective_Units   641 non-null    float64
 10  Compliance        777 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 66.9+ KB

In [27]:
evan.describe()              # Estadísticas numéricas básicas (media, std, min, max)

          Quantity  Unit_Price  Negotiated_Price  Defective_Units
count   777.000000  777.000000        777.000000       641.000000
mean   1094.660232   58.283822         53.660721        74.803432
std     647.844551   28.101315         26.094930        69.187870
min      51.000000   10.840000          9.270000         0.000000
25%     615.000000   33.290000         30.460000        26.000000
50%    1075.000000   58.950000         53.800000        49.000000
75%    1548.000000   83.130000         76.550000       100.000000
max    5000.000000  109.170000        107.390000       321.000000

In [28]:
evan.isna().sum()            # Contar valores nulos por columna

PO_ID                 0
Supplier              0
Order_Date            0
Delivery_Date        87
Item_Category         0
Order_Status          0
Quantity              0
Unit_Price            0
Negotiated_Price      0
Defective_Units     136
Compliance            0
dtype: int64

In [29]:
evan.head()

,PO_ID,Supplier,Order_Date,Delivery_Date,Item_Category,Order_Status,Quantity,Unit_Price,Negotiated_Price,Defective_Units,Compliance
0,PO-00001,Alpha_Inc,2023-10-17,2023-10-25,Office Supplies,Cancelled,1176,20.13,17.81,NaN,Yes
1,PO-00002,Delta_Logistics,2022-04-25,2022-05-05,Office Supplies,Delivered,1509,39.32,37.34,235.0,Yes
2,PO-00003,Gamma_Co,2022-01-26,2022-02-15,MRO,Delivered,910,95.51,92.26,41.0,Yes
3,PO-00004,Beta_Supplies,2022-10-09,2022-10-28,Packaging,Delivered,1344,99.85,95.52,112.0,Yes
4,PO-00005,Delta_Logistics,2022-09-08,2022-09-20,Raw Materials,Delivered,1180,64.07,60.53,171.0,No

In [30]:
evan['Order_Status'].value_counts()  # Ver distribución de estados de pedido

Order_Status
Delivered              560
Pending                 81
Partially Delivered     73
Cancelled               63
Name: count, dtype: int64